:root {
  /* ? ######## Colors */
  --color-default: #212529;
  --primary-hue: 0;
  --primary-saturation: 84%;
  --primary-lightness: 44%;
  --color-primary: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    var(--primary-lightness)
  );
  --color-secondary: #37373f;
  --color-tertiary: #7f7f90;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 100%;
  --color-light: hsl(
    var(--light-hue),
    var(--light-saturation),
    var(--light-lightness)
  );
  --color-light-grey: #eee;
  /* ? ######## Fonts */
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
  /* ? ######## Animation options */
  --animation-duration: 400ms;
}

.menu-icon {
  font-size: 25px;
  display: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
}

ul {
  list-style-type: none;
}

/*   ___________ Repeated style_________*/
.section-bg {
  background-color: var(--color-light-grey);
}
.btn {
  --background-color: transparent;
  --color: var(--color-light);
  --padding: 0.3125rem 0.75rem;
  --border-width: 0.125rem;
  --border-color: transparent;
  --border-radius: 1rem;
  --hover-bg-color: transparent;
  --hover-color: transparent;
  --font-size: 1rem;

  padding: var(--padding);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--font-size);
  cursor: pointer;
  transition: background-color var(--animation-duration),
    color var(--animation-duration);
}

.btn:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-color);
}
.btn-h-1 {
  --background-color: var(--color-primary);
  --hover-bg-color: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    calc(var(--primary-lightness) + 5%)
  );
  --hover-color: var(--color-light);
  --border-radius: 0px 100vh 100vh;
  --padding: 0.5rem 1.25rem;
  --font-size: 0.9375rem;
}

.main-title {
  text-align: center;
  margin-bottom: 1.25rem;
}
.main-title h2 {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--color-tertiary);
  font-weight: 400;
}
.main-title p {
  font-family: var(--font-primary);
  font-size: 3.125rem;
}

.main-title span {
  color: var(--color-primary);
}

/* Container */
.container {
  --padding: 2.5rem 0.3125rem;
  --margin-top: 0rem;
  --margin-bottom: 0rem;
  width: 100%;
  padding: var(--padding);
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
  margin-inline: auto; /* inline = left & right  */
}

/* Nav-bar */
nav {
  background-color: var(--color-light);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
}

body:has(.nav-links:target) nav {
  height: 100vh;
  background-color: #fff5;
}
nav .container {
  --padding: 20px 0.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 1.875rem;
  transition: transform var(--animation-duration);
}
.nav-links:target {
  transform: translateX(0%);
}
nav .logo {
  font-size: 1.875rem;
  font-family: var(--font-default);
}
nav .logo::after {
  content: ".";
  color: var(--color-primary);
}

nav ul li a {
  font-size: 1.0625rem;
  font-weight: 600;
  color: var(--color-tertiary);
  position: relative;
  transition: color var(--animation-duration);
}

nav ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--color-primary);
  left: 0;
  bottom: -3px;
  transition: width var(--animation-duration);
}
nav ul li a.close-icon::before {
  content: "";
  position: absolute;
}

nav ul li a:hover {
  color: #000;
}

nav ul li a:hover::before {
  width: 100%;
}

/* ???? modes */

.mode i {
  font-size: 1.5625rem;
  cursor: pointer;
}
.mode .light {
  display: none;
}
/* ! PROBLEM */
body:not(:has(:target)) .home-link,
body:has(.home:target) .home-link,
body:has(.chefs:target) .chefs-link,
body:has(.gallery:target) .gallery-link,
body:has(.contact:target) .contact-link {
  color: #000;
}

body:not(:has(:target)) .home-link::before,
body:has(.home:target) .home-link::before,
body:has(.chefs:target) .chefs-link::before,
body:has(.gallery:target) .gallery-link::before,
body:has(.contact:target) .contact-link::before {
  width: 100%;
}

nav ul li .close-icon {
  display: none;
  text-align: right;
}
nav ul li .close-icon a {
  font-size: 1.5625rem;
}

/* Header Section */
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.3125rem;
}

header .container > * {
  width: 40%;
}

header picture img {
  width: 100%;
  /* box-shadow: 10px 10px 10px #000; */
  filter: drop-shadow(
    0rem 0rem 0.625rem #000f,
    0.625rem 0.625rem 0.625rem #0006
  );
  /* padding: 80px 0 */
}
header picture img:hover {
  animation: shake 1s infinite;
}

.header-content h2 {
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-size: 4.0625rem;
}
.header-content p {
  font-size: 1rem;
  color: #4f4f5a;
  margin-block: 1.25rem; /* block = top & bottom */
  line-height: 1.6;
}

header .btns-g {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

header .video-btn {
  display: flex;
  align-items: center;
  transition: color var(--animation-duration);
}
header .video-btn:hover {
  color: var(--color-primary);
}

.video-btn .icon {
  width: 55px;
  height: 55px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--color-primary) 0% 50%,
    transparent 50% 50%,
    transparent 50% 100%
  );
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.video-btn .icon::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--color-light);
  border-radius: inherit;
}
.video-btn .icon i {
  z-index: 10;
}
/* __________{Chefs Section}_________ */
.chefts-cards {
  --gap: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  padding-block: 1.25rem;
}

.chefts-cards .card {
  width: calc(calc(100% - var(--gap) * 2) / 3); /* width:calc(100% /3) */
  border-radius: 0.625rem;
  overflow: hidden; /* for img round  */
  box-shadow: 0.1875rem 0.1875rem 0.9375rem rgba(0, 0, 0, 0.1);
  transition: scale var(--animation-duration);
  position: relative;
  background-color: var(--color-light);
}
.chefs .social-box {
  position: absolute;
  /* right: 20px; */
  right: -100px;
  top: 40px;
  border-radius: 5px;
  background-color: #ffffff4d;
  padding: 0.625rem 0.3125rem;
  text-align: center;
  /* ! important note : havor off */
  transition: right calc(var(--animation-duration) / 2);
  /* ref to delay - - delay */
}
.chefts-cards .card:hover .social-box {
  right: 1.25rem;
  transition: right var(--animation-duration) var(--animation-duration);
}
/* ! important note : havor on */
.chefs .social-box a {
  padding: 10px;
}
.chefs .social-box i {
  font-size: 20px;
  color: #37373f66;
  transition: color var(--animation-duration);
}
.chefs .social-box i:hover {
  color: #37373fe6;
}
.chefts-cards .card:hover {
  scale: 1.06;
}

.chefts-cards .card .card-content {
  padding: 0.625rem 1.5625rem 1.5625rem;
  text-align: center;
}

.chefts-cards .card img {
  width: 100%;
}
.card-content h3 {
  font-size: 1.25rem;
}
.card-content span {
  color: var(--color-tertiary);
  margin-block: 0.625rem;
}

.card-content p {
  font-style: italic;
  color: var(--color-tertiary);
}

.card picture {
  position: relative;
}

.card picture::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: url(../images/team-shape.svg);
  background-repeat: repeat-x;
}
/* ! Gallary */
/*?============> Gallery <============*/
.gallery-photos {
  --gap: 1.25rem;
  height: 72.8125rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.gallery-photos picture {
  width: calc(calc(100% - var(--gap) * 2) / 3);
  border: 4px solid #fff;
  position: relative;
  overflow: hidden;
}

.gallery-photos picture img {
  width: 100%;
  transition: scale var(--animation-duration);
}

.gallery-photos picture .layer {
  width: 100%;
  height: 100%;
  padding: 0.9375rem;
  background-color: #00000096;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: top var(--animation-duration);
}

.gallery-photos picture .layer p {
  color: #ddd;
  text-align: center;
}

.gallery-photos picture:hover img {
  scale: 1.1;
}

.gallery-photos picture:hover .layer {
  top: 0;
}

/* _________________________{Contact US}__________________ */
/* .contact iframe {
  width: 100%;
  height: 21.875rem;
} */
/*?============> Contact <============*/
.contact iframe {
  width: 100%;
  height: 21.875rem;
}

.contact .details {
  --gap: 0.9375rem;
  margin-block: 1.5625rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.contact .details > div {
  width: calc(calc(100% - var(--gap)) / 2);
  display: flex;
  align-items: center;
  padding: 1.5625rem;
  background-color: hsl(
    var(--light-hue),
    var(--light-saturation),
    calc(var(--light-lightness) - 4%)
  );
}

.contact .details > div h3 {
  color: #7d7d7d;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.contact .details .icon {
  min-width: 3.125rem;
  min-height: 3.125rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.contact .details .icon i {
  color: var(--color-light);
  font-size: 1.125rem;
}

.contact form {
  --gap: 0.9375rem;
  background-color: var(--color-light);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 1.875rem #00000014;
  gap: var(--gap);
}

.contact form > * {
  width: 100%;
}

.contact form :is(input, textarea) {
  padding: 0.9375rem 0.9375rem;
  font-family: inherit;
  line-height: 1.5;
  border: 2px solid
    hsl(
      var(--light-hue),
      calc(var(--light-saturation) + 10%),
      calc(var(--light-lightness) - 10%)
    );
  color: #212529;
  transition: border-color var(--animation-duration);
}

.contact form :is(input, textarea):focus {
  outline: none;
  border-color: var(--color-primary);
}

.contact form .input-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.contact .input-group input {
  width: calc(calc(100% - var(--gap)) / 2);
}

.contact form textarea {
  min-height: 9.375rem;
  max-height: 18.75rem;
  resize: vertical;
}

.contact form button[type="submit"] {
  --padding: 0.75rem 2.5rem;
  margin-top: 1.5625rem;
  width: fit-content;
  font-family: inherit;
  --border-radius: 100vh;
  /* ! override */
}

/*? __________{footer}_____________*/
footer {
  background-image: linear-gradient(#0009, #0009),
    url(../images/textured-metal-background.jpg);
  color: #fff;
  box-shadow: 0px -1px 5px #0007;
  background-size: contain;
}

footer .container {
  --gap: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

footer .container :is(.about, .contact-details) {
  width: calc(calc(100% - var(--gap) * 2) / 4);
}

footer .container :is(.subscription) {
  width: calc(calc(100% - var(--gap) * 2) / 2);
}

footer .about div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

footer .about p {
  margin-block: 0.625rem;
}

footer .about img {
  width: 2.5rem;
  height: 2.5rem;
}

footer .about h3 {
  text-align: center;
  padding: 0.625rem;
  border-bottom: 2px solid #ddd6;
  margin-bottom: 0.625rem;
}

footer .about .social-links {
  padding: 0.625rem;
  display: flex;
  justify-content: space-around;
}

footer .about .social-links i {
  font-size: 1.5rem;
}

footer .subscription-box p {
  margin-block: 0.625rem;
}

footer .sunscription-group {
  margin-block: 1.25rem;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

footer .sunscription-group input {
  flex-grow: 1;
  padding: 0.625rem;
}

footer .sunscription-group input:focus-visible {
  outline: none;
}

footer .sunscription-group button {
  --border-radius: 0;
  --padding: 0.625rem;
  min-width: 6.875rem;
}

footer .quick-links ul {
  --gap: 1.25rem;
  margin-top: 0.625rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap);
}

footer .quick-links ul li {
  width: calc(calc(100% - var(--gap)) / 2);
  padding: 5px;
  position: relative;
  transition: transform var(--animation-duration),
    background-color var(--animation-duration);
}

footer .quick-links ul li:hover {
  transform: translateX(10px);
  background-color: #222;
}

footer .quick-links ul li::before {
  content: "\f105";
  font: var(--fa-font-solid);
  margin-right: 5px;
}

footer .contact-details h3 {
  margin-bottom: 10px;
}

footer .contact-details ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

footer .contact-details ul li i {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-size: 1.375rem;
  cursor: pointer;
}
